@import "../assets/css/style.scss";
@import "../scss/header.scss";
@import "../scss/footer.scss";
@import "../scss/nav.scss";


body
{
    background-image: url("../images/columbus-yachts.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

